
html, body{
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
}

.wrapper{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

/*helpers*/
.wrapper .heading{
	font-size: 2.1rem;
}

.wrapper .spacer{
	margin-bottom: 1.5rem;
}

/*Header navigation*/
header ul.navigation{
	max-width: 80rem;
	margin: 0 auto;
	padding: 0;
}
header ul.navigation > li{
	display: inline-block;
	float: left;
	padding: 2%;
}
header a{
	font-size: 1rem;
}


/*FOOTER*/
#footer{
	color: #2863a7;
	font-size: 0.8rem;
}

#footer .wrapper{
	padding: 0.8rem 0;
}

#packages .price-box{
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #2863a7;
	overflow: hidden;
	padding: 0;
	padding-bottom: 1rem;
	max-width: 14rem;
	margin-right: 5%;
}
#packages .price-box:last-child{
	margin-right: 0;
}
#packages .header{
	background-color: #2863a7; 
	color: #fff;
	padding: 1rem 0 0.2rem;
	text-align: center;
}

#packages .header .price{
	font-size: 2rem;
}

#packages .price-box ul{
	padding: 0 1rem;
}
#packages .price-box li{
	text-align: left;
	padding: 0.4rem 0;
	position: relative;
	border-bottom: 1px solid #f7f7f7;
}

#packages .price-box li:last-child{
	border-bottom: 0;
}

/*packages*/
#packages{
	background-color: #66bae8;
	color: #fff;
	text-align: center;

}
#packages .wrapper:first-child{
	padding: 2rem 3rem 0;	
}

#packages .wrapper{
 	padding:  0 0 2rem;	
}
#contact button,
#diy .buy-btn,
#packages .packages-btn{
	background-color: #bed963;
	color: #fff;
	border: 0;
	padding: 0.5rem 2.3rem;
	margin-bottom: 1rem;
	border-radius: 10px;
	font-size: 1.5rem;
	text-decoration: none;
}
#packages .packages-btn{
	margin-bottom: 1rem;
}
#packages .price-box li p
{
    overflow: hidden;
}

