#nav{background: #2863a7; /* Old browsers */
background: -moz-linear-gradient(top,  #2863a7 0%, #2c3a77 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2863a7), color-stop(100%,#2c3a77)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2863a7 0%,#2c3a77 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2863a7 0%,#2c3a77 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2863a7 0%,#2c3a77 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2863a7 0%,25c3a77 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2863a7, endColorstr='#2c3a77',GradientType=0 ); /* IE6-9 */
height: 48px; text-align: center;}
#nav li{display: inline-block; font-size: 14px; color: #fff; font-family: Arial; line-height: 48px; font-weight: bold;}
#nav li a{color: #fff; padding: 0 26px;}
